In [1]:
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder
import pickle

In [2]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
data = data.drop(['RowNumber','CustomerId','Surname'],axis=1)
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [5]:
onehot_encoder_Geo = OneHotEncoder(sparse_output=False)
geo_encoded=onehot_encoder_Geo.fit_transform(data[['Geography']])
geo_encoded_df=pd.DataFrame(geo_encoded,columns=onehot_encoder_Geo.get_feature_names_out(['Geography']))

In [6]:
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [7]:
data = pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [8]:
X=data.drop('EstimatedSalary',axis=1)
Y= data['EstimatedSalary']

In [9]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=42)
scaler=StandardScaler()

In [10]:
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [11]:
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)
with open('onehot_encoder_Geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_Geo,file)
with open('scaler.pkl','wb') as file:
    pickle.dump('scaler',file)

In [12]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [13]:
# Build the model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)  # Output layer for regression
])

c:\my development\Artificial intelligence\ANN clasification\venv\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [14]:
#compile model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [15]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up TensorBoard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [17]:
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [18]:
# Train the model
history = model.fit(
    X_train, Y_train,
    validation_data=(X_test, Y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - loss: 100646.3750 - mae: 100646.3750 - val_loss: 98500.2422 - val_mae: 98500.2422
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100406.1328 - mae: 100406.1328 - val_loss: 96795.1875 - val_mae: 96795.1875
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 98055.6484 - mae: 98055.6484 - val_loss: 92419.9766 - val_mae: 92419.9766
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 92710.8750 - mae: 92710.8750 - val_loss: 85234.8594 - val_mae: 85234.8594
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 84525.2031 - mae: 84525.2031 - val_loss: 76203.8828 - val_mae: 76203.8828
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 75507.8203 - mae: 75507.8203 - val_loss: 67264.9844 - val_mae: 67264.9844
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 66710.1875 - mae: 66710.1875 - val_loss: 59914.9336 - val_mae: 59914.9336
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 59101.6758 - mae: 59101.6758 - val_loss: 55073.6406 - val_mae: 55073.6406
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 54987.4453 - mae: 54987.4453 - val_loss: 52519.8633 - val_mae: 52519.8633
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 52482.8008 - mae: 52482.8008 - val_loss: 51412.4961 - val_mae: 51412.4961
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50758.1094 - mae: 50758.1094 - val_loss: 51001.4023 - val_mae: 51001.4023
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50433.7422 - mae: 50433.7422 - val_loss: 50813.1758 - val_mae: 50813.1758
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50223.5039 - mae: 50223.5039 - val_loss: 50714.8984 - val_mae: 50714.8984
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50254.3320 - mae: 50254.3320 - val_loss: 50651.4648 - val_mae: 50651.4648
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49605.0039 - mae: 49605.0039 - val_loss: 50614.5273 - val_mae: 50614.5273
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50124.5508 - mae: 50124.5508 - val_loss: 50565.1016 - val_mae: 50565.1016
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50380.6914 - mae: 50380.6914 - val_loss: 50553.5977 - val_mae: 50553.5977
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49733.8711 - mae: 49733.8711 - val_loss: 50522.5977 - val_mae: 50522.5977
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49931.4531 - mae: 49931.4531 - val_loss: 50506.2891 - val_mae: 50506.2891
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49870.6758 - mae: 49870.6758 - val_loss: 50487.6211 - val_mae: 50487.6211
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49964.8828 - mae: 49964.8828 - val_loss: 50462.4688 - val_mae: 50462.4688
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50280.2383 - mae: 50280.2383 - val_loss: 50451.6602 - val_mae: 50451.6602
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50060.2891 - mae: 50060.2891 - val_loss: 50442.0703 - val_mae: 50442.0703
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49992.9609 - mae: 49992.9609 - val_loss: 50433.6211 - val_mae: 50433.6211
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49851.8086 - mae: 49851.8086 - val_loss: 50432.4609 - val_mae: 50432.4609
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49653.1484 - mae: 49653.1484 - val_loss: 50404.7422 - val_mae: 50404.7422
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50027.1758 - mae: 50027.1758 - val_loss: 50413.6406 - val_mae: 50413.6406
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49508.2656 - mae: 49508.2656 - val_loss: 50397.6523 - val_mae: 50397.6523
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49790.7500 - mae: 49790.7500 - val_loss: 50398.7266 - val_mae: 50398.7266
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49777.6406 - mae: 49777.6406 - val_loss: 50376.6406 - val_mae: 50376.6406
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50104.0508 - mae: 50104.0508 - val_loss: 50375.1914 - val_mae: 50375.1914
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49139.6836 - mae: 49139.6836 - val_loss: 50368.9727 - val_mae: 50368.9727
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49358.0039 - mae: 49358.0039 - val_loss: 50368.1602 - val_mae: 50368.1602
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49423.8281 - mae: 49423.8281 - val_loss: 50367.4258 - val_mae: 50367.4258
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49932.0977 - mae: 49932.0977 - val_loss: 50371.8711 - val_mae: 50371.8711
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49546.0977 - mae: 49546.0977 - val_loss: 50368.0156 - val_mae: 50368.0156
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49669.0195 - mae: 49669.0195 - val_loss: 50354.7969 - val_mae: 50354.7969
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49060.5117 - mae: 49060.5117 - val_loss: 50351.9023 - val_mae: 50351.9023
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49407.4570 - mae: 49407.4570 - val_loss: 50355.0625 - val_mae: 50355.0625
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49939.4727 - mae: 49939.4727 - val_loss: 50349.3203 - val_mae: 50349.3203
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49235.9297 - mae: 49235.9297 - val_loss: 50346.3633 - val_mae: 50346.3633
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50038.0625 - mae: 50038.0625 - val_loss: 50342.5547 - val_mae: 50342.5547
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49237.0000 - mae: 49237.0000 - val_loss: 50350.9922 - val_mae: 50350.9922
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49425.2031 - mae: 49425.2031 - val_loss: 50345.0625 - val_mae: 50345.0625
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49733.3242 - mae: 49733.3242 - val_loss: 50345.6953 - val_mae: 50345.6953
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49101.7188 - mae: 49101.7188 - val_loss: 50339.7070 - val_mae: 50339.7070
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49042.2305 - mae: 49042.2305 - val_loss: 50321.9922 - val_mae: 50321.9922
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49275.5312 - mae: 49275.5312 - val_loss: 50342.8789 - val_mae: 50342.8789
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49123.8516 - mae: 49123.8516 - val_loss: 50331.0742 - val_mae: 50331.0742
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49836.8867 - mae: 49836.8867 - val_loss: 50340.2031 - val_mae: 50340.2031
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49377.2031 - mae: 49377.2031 - val_loss: 50330.5547 - val_mae: 50330.5547
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50008.9219 - mae: 50008.9219 - val_loss: 50325.9688 - val_mae: 50325.9688
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50008.6992 - mae: 50008.6992 - val_loss: 50334.9102 - val_mae: 50334.9102
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 48703.4531 - mae: 48703.4531 - val_loss: 50332.1289 - val_mae: 50332.1289
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49300.3594 - mae: 49300.3594 - val_loss: 50321.1172 - val_mae: 50321.1172
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49732.2578 - mae: 49732.2578 - val_loss: 50325.2031 - val_mae: 50325.2031
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49182.3516 - mae: 49182.3516 - val_loss: 50307.4688 - val_mae: 50307.4688
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49316.5117 - mae: 49316.5117 - val_loss: 50314.6992 - val_mae: 50314.6992
Epoch 59/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49592.2031 - mae: 49592.2031 - val_loss: 50314.0234 - val_mae: 50314.0234
Epoch 60/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49992.2109 - mae: 49992.2109 - val_loss: 50312.0234 - val_mae: 50312.0234
Epoch 61/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49274.2344 - mae: 49274.2344 - val_loss: 50311.1250 - val_mae: 50311.1250
Epoch 62/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49265.3750 - mae: 49265.3750 - val_loss: 50314.1133 - val_mae: 50314.1133
Epoch 63/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49394.0977 - mae: 49394.0977 - val_loss: 50314.8711 - val_mae: 50314.8711
Epoch 64/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49457.5156 - mae: 49457.5156 - val_loss: 50313.1445 - val_mae: 50313.1445
Epoch 65/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49330.7266 - mae: 49330.7266 - val_loss: 50312.5195 - val_mae: 50312.5195
Epoch 66/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49727.7227 - mae: 49727.7227 - val_loss: 50309.9141 - val_mae: 50309.9141
Epoch 67/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49690.9414 - mae: 49690.9414 - val_loss: 50307.2734 - val_mae: 50307.2734
Epoch 68/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49421.7383 - mae: 49421.7383 - val_loss: 50305.8867 - val_mae: 50305.8867
Epoch 69/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49520.8984 - mae: 49520.8984 - val_loss: 50309.3555 - val_mae: 50309.3555
Epoch 70/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 48924.0391 - mae: 48924.0391 - val_loss: 50306.2812 - val_mae: 50306.2812
Epoch 71/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49286.2148 - mae: 49286.2148 - val_loss: 50308.2852 - val_mae: 50308.2852
Epoch 72/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49665.9336 - mae: 49665.9336 - val_loss: 50316.0117 - val_mae: 50316.0117
Epoch 73/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49222.2031 - mae: 49222.2031 - val_loss: 50317.7617 - val_mae: 50317.7617
Epoch 74/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49275.5664 - mae: 49275.5664 - val_loss: 50314.5156 - val_mae: 50314.5156
Epoch 75/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49267.9609 - mae: 49267.9609 - val_loss: 50328.4922 - val_mae: 50328.4922
Epoch 76/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49608.4023 - mae: 49608.4023 - val_loss: 50321.5859 - val_mae: 50321.5859
Epoch 77/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49636.2422 - mae: 49636.2422 - val_loss: 50328.1992 - val_mae: 50328.1992
Epoch 78/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49501.6602 - mae: 49501.6602 - val_loss: 50320.4688 - val_mae: 50320.4688

In [19]:
%load_ext tensorboard

In [21]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 17748), started 0:00:32 ago. (Use '!kill 17748' to kill it.)